<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <form class="login-form" method="post">
            {% csrf_token %}
            <h2>Login</h2>
            {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>

    <script>
        // Set focus on the username field when the page loads or there's an error message
        document.addEventListener('DOMContentLoaded', function() {
            var usernameField = document.getElementById('username');
            usernameField.focus();
        });
    </script>
</body>
</html>
